.wrapper{
    padding:1rem ;
background-color:white;
width: 30rem;
height: 30rem;
border: 1px solid #ccc;
position: absolute;
top: 20%;
left: 40%;
border-radius: 5px;

}

.login-form{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-form div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-form div input{

    margin-left: 2rem;

}

.login-form div div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
}
.text-input{  width: 100%;
    padding: 3px 0;
    border: none;
    border-bottom: 1px solid black;
      border-radius: 0;
      margin: 0;
      background-color: transparent;
      color: #8e8e93;
      outline: none;
      font-size: 12px;
    }

.appear{

    display: block;

}

.disappear{

    display: none;

}


a{

cursor: pointer;
}

nav a:hover{
border-bottom: 3px solid #ccc;
}